.container {
    flex: 2;
}
.wrapper {
    width: 100%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.catTitle {

}
.itemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgba(119, 136, 153, 0.5);
    border-radius: 5px;
    padding: 30px 10px;
    margin-bottom: 20px;
}
.productContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;
    cursor: pointer;
    width: calc(100% / 2);
}
.priceContainer {
    display: flex;

}
.itemTitle {
    margin-right: 10px;
    text-align: center;

}
.price {
    margin-right: 5px;
}
.special{
    font-weight: 600;
}
@media screen and (max-width: 900px) {
    .container{
        width: 100%;
    }

    .wrapper{
        padding: 0;
    }
    .catTitle{
        display: none;
    }
    .itemContainer{
      background-color: rgba(119, 136, 153, 0.8);
    }
    .productContainer{
        width: 100%;
    }
    .itemTitle{

    }
}
