.container {
width: 30vw;

}

.wrapper {
    margin: 20px;
    padding: 20px 0px;
    color: white;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menuTitle {
    margin-bottom: 25px;
}
.categoryItem {
    margin-bottom: 10px;
    margin-right: 10px;
}
.menuCategoryListItem {
    margin-bottom: 20px;
    margin-right: 25px;
    font-size: 20px;
    padding: 5px 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    letter-spacing: 1.5px;
}
.menuCategoryListItem:hover{
    background-color: darkgray;
    color: white;
}

@media screen and (max-width: 500px) {
    .container{
        width: 100%;
    }
    .wrapper{
        margin-bottom: 5px;
    }
    .categoryItem{
        margin-bottom: 0;
        margin-right: 0;
        font-size: 25px;
        font-weight: 500;
        text-align: center;
    }
    .menuCategoryListItem{
        padding: 5px 10px;
        margin-bottom: 0;
        margin-right: 0;
    }
    .categoryImg {
        display: none !important;
    }
}
