.container {
    height: calc(100vh - 100px);
    display: flex;

}
.newProduct {
    flex: 4;
}

.addProductForm {
    margin-top: 10px;
}

.addProductItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.addProductItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
}
.addProductTitle {

}
.addProductItem > input {
    padding: 10px;
}

.addProductItem > select {
    padding: 10px;
}

.addProductButton {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: darkorange;
    color: white;

    font-size: 18px;
    cursor: pointer;
}

.addProductItem > input {
    border-radius: 7px;
    border: 1px solid lightgray;
}
.addProductItem:nth-child(2) > input{
    border: none;
}
.addProductItem > input:focus {
    outline: none;
    border: 1px solid darkgray;
}
.addProductItem >select {
    border-radius: 7px;
    border: 1px solid lightgray;
}
.addProductItem >select:focus {
    outline: none;
    border: 2px solid darkgray;
}
